
.layoutBackground{

    /*background-image: url('https://get.pxhere.com/photo/car-wheel-vehicle-motorcycle-metal-modern-engine-rim-technique-high-tech-auto-part-know-how-automobile-make-luxury-vehicle-aircraft-engine-automotive-engine-part-1057593.jpg');
    background-image: url('http://afd-fraktion-brandenburg.de/wp-content/uploads/2015/02/Digitalisierung.jpg');*/
    background-image: url('/images/technology-3423680_1920.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100%;
    min-width: 100%;
}
.left{
    background-color : rgba(0, 0, 0, 0);
}

.leftContent{
    background-color : rgba(0, 0, 0, 0.4);
} 
.leftContent::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
.leftContent::-webkit-scrollbar-track {
    background-color : rgba(0, 0, 0, 0); 
  }
/* Handle */
.leftContent::-webkit-scrollbar-thumb {
    background-color : rgba(255, 255, 255, 0.2);
    border-radius: 7px;
}
/* Handle on hover */
.leftContent::-webkit-scrollbar-thumb:hover {
    background-color : rgba(255, 255, 255, 0.3);
}
.right{
    background-color : rgba(0, 0, 0, 0);
}
.rightContainer::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
.rightContainer::-webkit-scrollbar-track {
    background-color : rgba(0, 0, 0, 0); 
  }
/* Handle */
.rightContainer::-webkit-scrollbar-thumb {
    background-color : rgba(255, 255, 255, 0.3);
    border-radius: 7px;
}
/* Handle on hover */
.rightContainer::-webkit-scrollbar-thumb:hover {
    background-color : rgba(255, 255, 255, 0.5);
}
.ResizerRight {
    background-color : rgba(0, 0, 0, 0.4);
}
.menubar{
    background-color: rgba(0, 0, 0, .4);
} 
.sheet{
    background-color: rgba(255, 255, 255, 0.82); 
}
body::-webkit-scrollbar-track {
      
    background-image: url('/images/technology-3423680_1920.jpg');
  }
body::-webkit-scrollbar {
    width: 7px;
  }

  body::-webkit-scrollbar-thumb {
    background-color : rgba(255, 255, 255, 0.5);
    border-radius: 7px;
}
body::-webkit-scrollbar-thumb:hover {
background-color : rgba(255, 255, 255, 0.8);
}
body{
overflow-y: auto;
}

